/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #d5d4d4;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
  padding-left: 70px;
  padding-right: 70px;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: solid 1px var(--white);
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

button :hover {
  border: solid 1px var(--white);
  background-color:rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color: inherit;
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.btn:hover {
  transition: 0.5s;
  background-color: #000000;  /* Fare üzerine gelindiğinde metin rengi */
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;

}



#nav-menu {
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;

}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}



.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}

.motto {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
  display: flex;
  color: #000000;


  font-size: 60px;

}

.adres {
  justify-content: left;
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--light-grey);
}

.boxin{
  padding-top: 40px;
  padding-left: 80px;
}

.adrs {
  font-style:var(--border)
}

.cQrc7FF6 .NVokI_Sc .VoDw_F2L {
  max-width: 485px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}

.qmR8RWU3, .cQrc7FF6 .NVokI_Sc .nNlT4tnP .pEQ7Nvw1, .cQrc7FF6 .NVokI_Sc .VoDw_F2L {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.cQrc7FF6 .NVokI_Sc .VoDw_F2L p, .cQrc7FF6 .NVokI_Sc .VoDw_F2L span {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #2a2a2a;
}

.cQrc7FF6 .NVokI_Sc .VoDw_F2L .eEhMlAcP, .cQrc7FF6 .NVokI_Sc .VoDw_F2L p {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.NVokI_Sc {
  justify-content: left;
  border: solid 1px var(--light-grey);
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.blockilt {
  padding-left: 330px;
  padding-top: 50px;
}

.ctn {
  justify-content: left;
  border: solid 1px var(--light-grey);
  display: inline-block;

  border-radius: 10px;


}


@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-330px); /* Adjust the value as needed */
  }
}

.blockilt {
  padding-left: 850px;
  padding-top: 50px;
  animation: slideLeft 0.5s forwards;
}





